[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
channels = {extras = ["daphne"], version = "*"}
psycopg = "*"
channels-redis = "*"
aioimaplib = "*"
ujson = "*"
pydantic = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.13"
